#Space Missions Analysis# 
###Group-9###

###Bindushree.S 20181COM0028###
###Darapu Naidu 20181COM0038###
###Bhoomika.M 20181COM0024###
###G S Uthej 20181COM0047###
###Gude Srinivasulu 20181COM0056###

###Importing Libraries###

In [ ]:
import pandas as pd  #pandas is a data manipulation and analysis tool 
import numpy as np   #numpy is the library for numerical computation
import seaborn as sns  #seaborn is a library for making statistical graphics
import matplotlib.pyplot as plt  #Matplotlib is a plotting library 
import plotly.express as px   #plotly.express provides consistent and interactive figures

In [ ]:
#Read the csv file
df=pd.read_csv('Space_Corrected.csv')
df.head()

#PreProcessing

##Information of the dataframe##

In [ ]:
# to find the Information of the dataframe#
print("The information of the space dataframe is")
print(df.info())

##rows and columns of the dataframe##

In [ ]:
# to find the rows and columns of the dataframe#
print("The number of rows and columns are")
print(df.shape)

##columns present in dataframe##

In [ ]:
#To get the columns present in dataframe#
print("The columns present in dataframe is")
print(df.columns)

In [ ]:
df.drop('Unnamed: 0.1',axis=1,inplace=True) # Dropping Unnamed: 0.1 column since it does not provide any information
df.head()

In [ ]:
df.drop('Unnamed: 0',axis=1,inplace=True) # Dropping Unnamed: 0 column since it does not provide any information
df.head()

##Descriptive statistics of the dataframe##

In [ ]:
#To print the descriptive statistics of the dataframe#
print("The descriptive statistics of the dataframe is")
df.describe()

##value count of mission status column##

In [ ]:
#To get the value count of mission status column#
print("The value count of mission status column in the dataset is")
df["Status Mission"].value_counts()

##Null values in the dataframe##

In [ ]:
# To find any null values in the dataframe#
df.isna().any()

##Number of null values in Rocket column of the dataframe

In [ ]:
# To find the number of null values in Rocket column of the dataframe
df[' Rocket'].isna().value_counts()

In [ ]:
df.drop(' Rocket',axis=1,inplace=True) # Dropping Rocket since it contains lots of null values
df.head()

##Datatype of all the columns in the dataframe

In [ ]:
# To find the datatype of all the columns in the dataframe
df.dtypes

##Remove the word Status in Status Rocket column Values

In [ ]:
# To change the Status Rocket column values from StatusActive to Active by removing the word Status
df['Status Rocket']=df['Status Rocket'].str.replace('Status','')
print(df['Status Rocket'])

#Visualizations

##Current Status of the Rockets##

In [ ]:
#To draw the category plot of Status rocket column
sns.catplot('Status Rocket',kind='count',data=df,height=4,palette='autumn')
plt.title('Current status of rockets',size=25)
plt.xlabel('Rocket status',size=15)
plt.show()

Conclusion: Most of the rockets are retired

##Mission Status##

In [ ]:
#to get the count of each mission status
data = df['Status Mission'].value_counts().reset_index()
data.columns = [
    'Status Mission',  
    'count'
]
print(data)

In [ ]:
#plotting a pie graph to show the mission status
fig = px.pie(
    data, 
    values='count', 
    names='Status Mission', 
    title='Mission Status in Percentage', 
    width=500, 
    height=500
)

fig.show()

Conclusion: Majority of the status mission is success while the minimum is prelaunch failure

##Company##

In [ ]:
#To get the number of rockets owned per company
data = df['Company Name'].value_counts().reset_index()

data.columns = [
    'Company Name', 
    'count'
]

print(data)

In [ ]:
#plotting the bar graph for company
fig = px.bar(
    data,  
    x='count', 
    y='Company Name', 
    orientation='h', 
    title='Company and its count of Rocket', 
    width=600, 
    height=600
) 

fig.show()

Conclusion: RVSN USSR owns the highest number of rockets

##Status Rocket##

In [ ]:
#counting the status mission with respect to active and retired rockets
sns.catplot('Status Mission',kind='count',data=df,hue='Status Rocket',palette='Dark2',height=6,aspect=2)  
plt.xticks(size=15)
plt.xlabel('Status Mission',size=15)
plt.yticks(size=15)
plt.ylabel('Count',size=15)
plt.title('Status Mission of active and retired Rockets',size=15)
plt.show()

Conclusion: Retired rockets has highest success rate

##Success Rocket Analysis##

In [ ]:
#success rocket analysis count
success=df[df['Status Mission']=='Success']

data = success['Company Name'].value_counts().reset_index()

data.columns = [
    'Status Mission', 
    'count'
]

data = data.sort_values('count')
print(data)

In [ ]:
#success rocket analysis visualization
fig = px.bar(  
     data.tail(25),
    y='count', 
    x='Status Mission', 
    orientation='v', 
    title='Company with highest Success Rockets', 
    width=700, 
    height=700,
    color='count',
    
)

fig.show()

Conclusion: RVSN USSR has highest success rate

In [ ]:
#To get the current status of successful rockets
data = success['Status Rocket'].value_counts().reset_index()

data.columns = [
    'Status Rocket', 
    'count'
]
print(data)

In [ ]:
#To plot the pie chart for the current status of successful rockets
fig = px.pie(
    data, 
    values='count', 
    names='Status Rocket', 
    title='Current Status of Success Rockets in Percentage', 
    width=500, 
    height=500,
    color_discrete_sequence=px.colors.sequential.RdBu
)

fig.show()

Conclusion: Retired rockets have had highest success while the active rockets have had lesser success

##Failure Rocket Analysis##

In [ ]:
#Failure rocket analysis count
Failure=df[df['Status Mission']=='Failure']

data = Failure['Company Name'].value_counts().reset_index()

data.columns = [
    'Status Mission', 
    'count'
]

data = data.sort_values('count')
print(data)

In [ ]:
# Visualization of failure  rocket using scatter
fig = px.line(  
     data.tail(25),
    y='count', 
    x='Status Mission', 
    title='Company with highest Failure Rockets', 
    width=700, 
    height=700
)
 
fig.show()

Conclusion: RVSN USSR has highest number of failures

In [ ]:
#Failure rocket status analysis
data = Failure['Status Rocket'].value_counts().reset_index()

data.columns = [
    'Status Rocket', 
    'count'
]
print(data)

In [ ]:
#to plot the pie chart for the current status of failure rockets
fig = px.pie(
    data, 
    values='count', 
    names='Status Rocket', 
    title='Current Status  of Failure Rockets in Percentage', 
    width=500, 
    height=500
)

fig.show()

Conclusion: Most Failure Rockets are now Retired

##ISRO analysis##

In [ ]:
# Count Of rockets launched by ISRO
isro=df[df['Company Name']=='ISRO']
print("No Of rockets launched by ISRO",isro.shape[0])

In [ ]:
# Status Mission of ISRO Rockets
sns.countplot(isro['Status Mission'])
plt.title("Mission status of the ISRO Rockets")
plt.show()

Conclusion: ISRO has gven more successful space mission than failure

In [ ]:
# Current Status of ISRO Rockets
sns.countplot(isro['Status Rocket'])
plt.title("Current status of the ISRO Rockets")
plt.show()

Conclusion: Number of active rockets of ISRO is more when compared to retired rockets

##Country Analysis##

In [ ]:
#Extracting Country using the location column
df['country'] = df['Location'].str.split(', ').str[-1]
df['country'].head()

In [ ]:
# Count of Each country's Rocket Missions
data = df['country'].value_counts().reset_index()

data.columns = [
    'Country', 
    'count'
]

In [ ]:
# Countries with Rocket Missions
fig = px.scatter(  
     data,
    y='count', 
    x='Country',  
    title='Country with Rocket missions', 
    width=700, 
    height=700,
    size='count',
    size_max=30
)
fig.show()

Conclusion: Russia has had the highest number of space missions

In [ ]:
#Countries with Successful space missions
Success1=df[df['Status Mission']=='Success']

data = Success1['country'].value_counts().reset_index()

data.columns = [
    'Country', 
    'count'
]

fig = px.scatter(
    data, 
    y='count', 
    x='Country', 
    title='country with most successful space missions', 
    width=700, 
    height=700,
    size='count',
    size_max=30
)

fig.show()

Conclusion: Russia has had the highest number of successful space missions

##Launch Year##

In [ ]:
# To analyse and plot the number of space mission per year
def get_year(x):
    return x[12:16]
df['Year']=df['Datum'].map(get_year)
df['Year']=df['Year'].astype('int64')

data = df['Year'].value_counts().reset_index()

data.columns = [
    'Year', 
    'count'
]

fig = px.bar(
    data, 
    y='count', 
    x='Year', 
    orientation='v', 
    title='Year with most space missions', 
    width=800, 
    height=800,
    color='count'
)

fig.show()

Conclusion: 1971 majority of the space missions took place

In [ ]:
# To analyse and plot the number of successful space mission per year
Success=df[df['Status Mission']=='Success']

data = Success['Year'].value_counts().reset_index()

data.columns = [
    'Year', 
    'count'
]

fig = px.bar(
    data, 
    y='count', 
    x='Year',  
    title='Year with most successful space missions', 
    width=800, 
    height=800,
    color='count'
)

fig.show()

Conclusion: In 2018, maximum successful space missions took place

##Launch Month##

In [ ]:
# To analyse and plot the number of space mission per month
def get_month(x):
    return x[4:7]
df['Month']=df['Datum'].map(get_month)
 
data = df['Month'].value_counts().reset_index()
 
data.columns = [
    'Month', 
    'count'
]
 
fig = px.line(
    data, 
    y='count', 
    x='Month', 
    title='Month with most space missions', 
    width=500, 
    height=500)
fig.show()

Conclusion: Maximum number of space missions take place in the month of December

In [ ]:
# To analyse and plot the number of successful space mission per month
Successs=df[df['Status Mission']=='Success']
Successs['Month'].value_counts().plot(kind='line',color='green')
plt.title('Successful Space Missions per month')
plt.xlabel('Month')
plt.ylabel('Count')
plt.show()

Conclusion: December has seen maximum successful space missions

##Latest Launches per company

In [ ]:
#To get the records of latest launch
df_latest=df[df['Year']==2020]

In [ ]:
# Plot latest launches using categoryplot
sns.catplot('Company Name',data=df_latest,kind='count',height=8)
plt.yticks(np.arange(20))
plt.title('2020 launches',size=25)
plt.xlabel('Company name',size=20)
plt.xticks(size=15,rotation=45)
plt.yticks(size=15)
plt.ylabel('Number of missions',size=15)
plt.show()

Conclusion: CASC has the maximum latest space missions

In [ ]:
# To plot country with both status mission and status rocket
fig = px.strip(df, x="country", y="Status Mission",color='Status Rocket')
fig.show()

##Coutries that has been consistent in Space Missions

In [ ]:
fig = px.histogram(df, x="Year", y="Status Mission", color="country", hover_data=df.columns)
fig.show()

##The space missions through the years##

In [ ]:
# to plot the space missions through the years
plt.figure(figsize=(15,10))
sns.distplot(df['Year'],bins=100)
plt.title("The space missions through the years")
plt.show()